<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>License-Tracker | Police Department-Login</title>

  <link rel="stylesheet" href="static/login/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="static/login/vendors/base/vendor.bundle.base.css">
  <link rel="stylesheet" href="static/login/css/style.css">
  <!-- <link rel="shortcut icon" href="static/login/images/logo.png" /> -->


  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/sweetalert2.js"></script>

</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">

              <h4>Login</h4>
              <!-- <h6 class="font-weight-light">Sign in to continue.</h6> -->
              <form class="pt-3">
                <div class="form-group">
                  <input id="email" type="email" class="form-control form-control-lg" placeholder="Email" required>
                </div>
                <div class="form-group">
                  <input id="psw" type="password" class="form-control form-control-lg" placeholder="Password" required>
                </div>
                <div class="mt-3">
                  <button type="submit" id="btn"
                    class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Login</button>
                </div>


              </form>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <script>

    $(function () {
      $('#btn').click(function () {

        var email = $('#email').val();
        var psw = $('#psw').val();

        if (email == "" || psw == "") {
          swal.fire("Sign In", "Fields are empty!", "warning");

        } else {

          var form_data = new FormData();
          form_data.append('email', email);
          form_data.append('psw', psw);

          $.ajax({
            url: "/system_login",
            enctype: 'multipart/form-data',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            type: 'POST',
          })
            .done(function (data) {
              if (data.redirect) {
                window.location.href = data.redirect;
              }
              else if (data.success) {
                Swal.fire("Sign In", data.success, "success");
              }
              else if (data.error) {
                Swal.fire("Sign In", data.error, "warning");
              }
              else {
                Swal.fire("Sign In", "Some error occur!", "warning");
              }
            });

        }

        event.preventDefault();
      });
    });

  </script>

  <script src="static/login/vendors/base/vendor.bundle.base.js"></script>
  <script src="static/login/js/off-canvas.js"></script>
  <script src="static/login/js/hoverable-collapse.js"></script>
  <script src="static/login/js/template.js"></script>

</body>

</html>