{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">

    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">System Users</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <a href="/add_system_user"
                class="btn waves-effect waves-light btn btn-info pull-right hidden-sm-down text-white"> Add System
                User</a>
        </div>
    </div>

    <div class="row">
        <!-- column -->
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>User Name</th>
                                    <th>Email</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                {% if details %}
                                {% for item in details %}

                                <tr>
                                    <td>{{ item[0] }}</td>
                                    <td>{{ item[1] }}</td>
                                    <td>{{ item[2] }}</td>
                                    <td><a href="/view_system_user_details?id={{ item[0] }}"
                                            class="btn btn-success">View</a></td>
                                </tr>

                                {% endfor %}
                                {% endif %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}